body{
    margin: 0;
    padding: 0;

}

.boy{
    height: 200px;
    position: absolute;
    margin-top: 450px;
}

.obstacle{
    width: 80px;
    height: 80px;
    background-color: red;
    position: absolute;
    margin-top: 540px;
    margin-left: 550px;
}